* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	background-image: url('https://wallpaperaccess.com/full/84248.png');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
